<%= render(HeadingComponent.new(tag: :h1)) { 'Home' } %>

<%=
  render(ButtonLinkComponent.new(href: "#")) do
    "I'm a primary button link"
  end
%>
<%=
  render(ButtonLinkComponent.new(href: "#", scheme: :primary)) do
    "I'm also a primary button link"
  end
%>
<%=
  render(ButtonLinkComponent.new(href: "#", scheme: :secondary)) do
    "I'm a secondary button link"
  end
%>
<%=
  render(ButtonLinkComponent.new(href: "#", scheme: :info)) do
    "I'm a info button link"
  end
%>
<%=
  render(ButtonLinkComponent.new(href: "#", scheme: :danger)) do
    "I'm a danger button link"
  end
%>
<%=
  render(ButtonLinkComponent.new(href: "#", scheme: :warning)) do
    "I'm a warning button link"
  end
%>
<%=
  render(ButtonLinkComponent.new(href: "#", scheme: :success)) do
    "I'm a success button link"
  end
%>

<%= form_with do |form| %>
  <div class="grid grid-cols-1 gap-2">
    <%= form.label(:someting, "I'm a label") %>
    <%= form.text_field(:someting) %>

    <%= form.label(:email, "Email") %>
    <%= form.email_field(:email, placeholder: 'test@example.com') %>

    <%= form.label(:date, "Date") %>
    <%= form.date_field(:date) %>
  </div>
<% end %>
